.footer {
  background-color: #003585;
  width: 100%;
  height: 374px;
  margin-top: 50px;
}
.logosTerms {
  margin-top: 250px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.logos {
  display: flex;
  gap: 24px;
}
